@font-face {
  font-family: 'RobotMono' ;
  src: url('./fonts/RobotoMono-Thin.ttf');
}


*{
  font-family: 'RobotoMono', 'monospace';
}


body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  
  background: linear-gradient(to right,#63676b, #181010 );
}

div h1 {
  color: black;
  margin-bottom: 30px;
  font-size: 2.4em;
}

div h1::after{
  content: ' ';
  border: solid 1px white;
  display: block;
  width: 190px;
  margin: auto;
}

div h1::before{
  content: ' React';
  color:white ;
  position: relative;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
  
  
 